#map {
    height: 60%;
    width: 70%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#scroll-product {
    width:auto;
    height:490px;
    background-color:#FFFFFF;
    overflow:auto;
}

#scroll-product-promotion {
    width:auto;
    height:600px;
    background-color:#FFFFFF;
    overflow:auto;
}

#scroll-user-list {
    width:auto;
    height:700px;
    background-color:#FFFFFF;
    overflow:auto;
}

#scroll-product-list {
    width:auto;
    height:auto;
    background-color:#FFFFFF;
    overflow:auto;
    padding: 1px;
}

.menu-profile{
    text-align: center;
}

/*input FORMULÁRIOS*/
.form-control.input-text-register{
    font-weight: bold;
    color: #000000;
    font-size: x-large;
}

.btn-ezmart-stylebtn-ezmart-style{

}

/*header dos USÁRIOS*/
a.user-header-style{
    color: #DBD800;
}

a.dropdown-content-user-header-style{
    color: #000000;
}

img.responsive-img-center {
    margin-left: 25%;
    margin-right: 25%;
    max-width: 100%;
    height: auto;
}

#center-div {
    width:100px;
    height:100px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-50px;
}